/* Font imports */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900|Oswald:wght@200..700');

/* Root variables */
:root {
  --primary-color: #A9ACA9;
  --secondary-color: #393424;
  --accent2-color: white;
  --heading-font: Oswald, sans-serif;
  --paragraph-font: Barlow, Helvetica, sans-serif;
  --headline-color-on-white: #393424;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #393424;
  --nav-link-color: #396E94;
  --nav-hover-link-color: white;
  --nav-background-color: #A9ACA9;
  --nav-hover-background-color: #393424;
  --gray: #808080;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  font-family: 'Lato', sans-serif;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: start;
  padding: 10px;
}

nav {
  display: flex;
  border-radius: 10px;
  text-align: center;
  border: 2.5px solid black;
  padding: 5px;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

nav a {
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  text-decoration: underline;
}

nav a:link,
nav a:visited {
  color: black;
}

.footer-words {
  color: black;
  padding-top: 35px;
  margin-left: 50px;
  font-weight: bold;
}

.footer-words a {
  margin-right: 6em;
  font-size: large;
}

.fish1,
.fish2,
.fish3,
.fish4 {
  border-radius: 12.5px;
  border: 3.75px solid black;
  padding: 0;
}

.image-assortment {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 20px;
}

.title,
.author {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-row: 1;
}

.title {
  font-size: 200%; /* Adjusted to match species page */
  padding-top: 0.5rem;
}

.author {
  font-size: large;
  padding-bottom: 100px;
}

.title-section .logo {
  justify-items: left;
}

.welcome-paragraph {
  font-size: x-large; /* Adjusted to match species page */
  grid-column: 1 / 2;
  margin-bottom: 10px;
  line-height: 1.25;
  padding-left: 2em;
}

.main-img {
  grid-column: 2 / 3;
  justify-content: center;
  padding-bottom: 50px;
  padding-left: 10em;
}

.map {
  border: 3.75px solid #393424;
  max-width: 60em;
  height: auto;
}

.rocky-border {
  border: 10px solid;
  border-image: url('images/cropped-rocky-border.png') 15 round;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Start Gear Page styles */

.gear-item {
  width: auto;
  height: 35em;
  justify-content: center;
  border-radius: 2.5%;
  border: solid black;
  display: block;
  margin: 0 auto;
}

.title-section {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 200%; /* Adjusted to match species page */
  border-width: 0.5rem;
}

.gear-intro {
  padding-top: 1.25em;
  font-size: x-large; /* Adjusted to match species page */
  margin: 37.5px;
  padding-bottom: 0.75em;
}

.gear-title,
.species-title {
  font-size: 200%;
  padding: 2em 0 1.5em;
  border-bottom: solid black 0.25em;
  padding-left: 2em;
}
.gear-title {
  padding-top: 0.5rem;
}
.gear-paragraph {
  padding-top: 0.5em;
  font-size: x-large; /* Adjusted to match species page */
  text-align: center;
  margin: 2.25em;
}

/* Species Page styles */

.species-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fish {
  width: 48em;
  height: auto;
  border: 1em solid black;
  border-radius: 5rem;
}

.species-title {
  font-size: 200%;
  text-align: center;
}

.species-paragraph {
  padding: 0.5em 0.75em;
  font-size: x-large;
  margin: 2.25em auto;
  grid-column: 1;
  line-height: 1.5;
  padding-right: 2em;
  /* /* justify-content: center;*\ */
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.container1 .species-paragraph,
.container2 .species-paragraph,
.container3 .species-paragraph,
.container4 .species-paragraph,
.container5 .species-paragraph,
.container6 .species-paragraph,
.container7 .species-paragraph,
.container8 .species-paragraph {
  grid-column: 2 / 3;
}

.container1 img,
.container2 img,
.container3 img,
.container4 img,
.container5 img,
.container6 img,
.container7 img,
.container8 img {
  grid-column: 1 / 2;
}

/* Locations section */

.locations {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  text-align: center;
}

.locations-title {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.location-1,
.location-2,
.location-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 2em;
  margin-bottom: 2em;
  border: 1em solid black;
  border-radius: 2em;
}

.location-1 img,
.location-2 img,
.location-3 img {
  height: 22.5em;
  width: 25em;
  border-radius: 1em;
}

.location-2 img {
  grid-column: 4 / 5;
  grid-row: 1;
  justify-self: end;
}

.location-2 p {
  grid-column: 1 / 4;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 0.5em 0 0 2.5em;
  line-height: 1.5;
}

.location-paragraph {
  text-align: left;
  grid-column: 2 / 5;
  font-size: x-large;
  padding-right: 2.5em;
  line-height: 1.5;
}

/* Extra tips section */

.extra-tips {
  border: 1px solid #000;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
  margin-top: -1em;
  width: 25em;
}

.beaver-tip {
  display: flex;
  justify-content: flex-end;
  grid-column: 4 / 5;
}

.extra-tips p {
  text-align: center;
  font-size: medium;
}

/* Profile card */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
